<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">

<head>
    <meta charset="utf-8" />
    <title></title>
   
</head>

<body style="background: #EDE7F6 !important">
	<table  style="width:100%;">
		<tr style="border-collapse: collapse; background: #673AB7 !important; color: #ffffff !important">
			<td style="border-collapse: collapse; text-align: right !important; font-size: 26px !important; font-weight:500; color: rgba(256, 256, 256, 0.65); padding:20px !important">
				Translytics
			</td>
		</tr>
	</table>
	<table style="width:100%; margin-bottom:50px; padding:20px">
		<tr>
			<td style="width:60%">
				<strong>Depot Name:</strong> {{depot}}
				<br><br>
				{{address1}}
				<br><br>
				{{address2}}
				<br><br>
				{{city}} &nbsp; {{country}}
				<br><br>
				<strong>Zipcode:</strong>{{zipcode}}
			</td>
			<td style="text-align: right !important;">
				<strong>In-store Date:</strong> {{instoredate}}
				<br><br>
				<strong>Shipment #:</strong> {{ship_num}}
				<br><br>
				<strong>Delivery:</strong> {{delivery}}
				<br><br>
				<strong>Ship to Customer:</strong> {{shiptocust}}
				<br><br>
				<strong>Upload Mode:</strong> {{upload_mode}}
			</td>
		</tr>
	</table>
    <table style="width:95%; text-align: center !important;border-collapse: collapse; margin-bottom: 50px !important; margin:20px !important; margin-right: 20px !important">
        <tr style="border-collapse: collapse; background: #673AB7 !important; color: #ffffff !important">
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">File Name</th>
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">File Type</th>
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">File Size</th>
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">Thumbnail</th>
            <th style="border-collapse: collapse; padding:10px; background: #673AB7 !important; color: #ffffff !important">File URL</th>
        </tr>
        {{tableBody}}
    </table>
	
	<table  style="width:100%; margin: 20px !important">
		<tr>
			<td>
				<strong>Regards,</strong>
				<br>
				<br>
				<strong>Translytics</strong>
			</td>
		</tr>
	</table>
	<table  style="width:100%; margin: 20px !important">
		<tr>
			<td style="font-size: 12px;">
				Remove me from receiving these emails
			</td>
		</tr>
	</table>
    <!-- 	<p>Shipment Details</p>
<p>depot_id&nbsp;&nbsp;&nbsp;{{depot_id }}</p>
<p>Shipment&nbsp;&nbsp;&nbsp;{{Shipment}}</p>
<p>Delivery&nbsp;&nbsp;&nbsp;{{Delivery}}</p>
<p>Shipto&nbsp;&nbsp;&nbsp;{{Shipto}}</p>
<p>{{Regards}}</p>
<p>{{TranslytixPOD}}</p> -->
</body>

</html>
