<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">

<head>
    <meta charset="utf-8" />
    <title></title>

</head>

<body style="background: #EDE7F6 !important">
    <table style="width:100%;">
        <tr style="border-collapse: collapse; background: #673AB7 !important; color: #ffffff !important">
            <td style="border-collapse: collapse;  font-size: 26px !important; font-weight:500; color: rgba(256, 256, 256, 0.65); padding:8px !important">
                <img src="http://pod.translytix.com/src/assets/logo_final.png" style="height:50px">
            </td>
            <!--<td style="border-collapse: collapse; text-align: right !important; font-size: 26px !important; font-weight:500; color: rgba(256, 256, 256, 0.65); padding:20px !important">
                
            </td>-->
        </tr>
    </table>
    <table style="width:100%; margin-bottom:50px; padding:20px">
        <tr>
            <td style="width:60%">
                <strong>Carrier:</strong> {{businessName}}
                <br><br>
                <strong>Username:</strong> {{bidUserName}}
                <br><br>
                <strong>PhoneNumber:</strong> {{phoneNumber}}
                <br><br>
                <strong>Email:</strong> {{email}}
                <br><br>
                <strong>Generated Access Code:</strong> {{givenCode}}
            </td>
        </tr>
    </table>
    <table width="160" class="button" style="margin: 0px 0px 10px 30px;">
        <tr>
            <td class="btn-read-online" style="text-align: center; background-color: #4DB24C; padding: 10px 15px; border-radius: 5px;">
                <a href="http://bid.translytix.com/#/bidaccess?id={{id}}&email={{email}}&active=1" style="color: #fff; font-size: 18px; letter-spacing: 1px; text-decoration: none; text-shadow: 0px 2px 2px #4db24c; font-family: Arial, Helvetica, sans-serif;">Accept</a>
            </td>
            <td class="btn-read-online" style="text-align: center; background-color: #d14836; padding: 10px 15px; border-radius: 5px;">
                <a href="http://bid.translytix.com/#/bidaccess?id={{id}}&email={{email}}&active=0" style="color: #fff; font-size: 18px; letter-spacing: 1px; text-decoration: none; text-shadow: 0px 2px 2px #4db24c; font-family: Arial, Helvetica, sans-serif;">Deny</a>
            </td>
        </tr>
    </table>
    <table style="width:100%; margin: 20px !important">
        <tr>
            <td>
                <strong>Regards,</strong>
                <br>
                <br>
                <strong>Translytix</strong>
            </td>
        </tr>
    </table>
</body>

</html>